* {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1em;
    color: rgb(37, 48, 59);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 80%;
    margin: auto;
}

body {
    background-color: #fafafa;
    background-image: url(/unflat02.github.io/images/crow.jpeg);
    background-size: 500em;
    background-repeat:repeat;
}

header {
    text-align: center;
}

#mainNav {
    list-style-type: none;
    font-size: 1em;
    text-align: center;
    display: inline;
}

header, nav, footer {
    text-align: center;
    padding-bottom: 2em;
    width: 100%;
    height: 100%;
}

nav, footer {
    font-size: .8em;
}

nav, header {
    background-image: url(/unflat02.github.io/images/twisp.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 1em;
}

.bio {
    padding-top: 2em;
    padding-bottom: 2em;
}

.copy {
    padding:2em;
}

h1 {
    color: rgb(171, 237, 254);
    font-size: 5em;
    font-family: 'DM Sans', sans-serif;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 2em;
    white-space: nowrap;
}

article p, footer p, hr {
    margin-top: 2em;
}


/* Columns */

.columns {float:right;}
.col-1 {width: 40%;}
.col-2 {width: 60%;}
.col-12 {width: 100%;}

/* End Columns CSS */

div.expContainer {
    font-size: .8em;
}

div.expContainer>h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    
}

div.expContainer>p {
    width: 50%;
    padding-bottom: 2em;
    font-size: 1.2em;
}

div.expRow {
    margin-bottom: 2em;
    padding: 1%;
    background-color: rgba(0, 0, 0, .05);
}

.textPad {
    padding-right: 2em;
    font-size: 1em;
}

.flexy {
    padding: 2em;
}

.flexbox {
    clear: right;
    display: flex;
    justify-content: space-between;
}

.flexbox > div {
        width: 30%;
        padding: 1%;
        background-color: rgba(0, 0, 0, .05);
    }

a:link {
    color: rgb(51, 102, 153); 
}

a:visited {
    color: rgb(19, 75, 124);
}

a:hover {
    color: rgb(0, 177, 204);
}


