* {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1em;
    color: rgb(37, 48, 59);
    line-height: 150%;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 80%;
    margin: auto;
}

.column {
    width: 33.33%;
    float: left;
    /*margin: 10%;*/
    }

body {
    background-color: #fafafa;
    background-image: url(/images/crow.jpeg);
    background-size: 500em;
    background-repeat:repeat;
}

#instagram {
    position: fixed;
    width: 4%;
    top: 3%;
    right: 3%;
    z-index: auto;
}

header {
    text-align: center;
    background-image: url(/images/twisp.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 5%;
}

#mainNav {
    list-style-type: none;
    font-size: 80%;
    text-align: center;
    display: inline;
}

header, nav {
    text-align: center;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
}

footer {
    text-align: left;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
}

h1#chloe {
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(47, 156, 181);
    transition: color 1s;
}

h1#chloe:hover, h4:hover {
    color: rgb(49, 127, 38);
    font-weight: 1000;
}

@keyframes bluebird {
    from {bottom: 0px;}
    to {bottom: 30px;}
}

img#bluebird {
    
    display: inline;
    position: relative;
    bottom: 0px; /* start */
    bottom: 0px; /* end */
    z-index: -1;
    animation-name: bluebird;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;     
}

@keyframes blueblue {
    0%   { transform: translate( 1000%, 0%); }
    100% { transform: translate( 0%, 0); }
}


img#blueblue {
    animation-name: blueblue;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-timing-function: cubic-bezier(1, 1.1, 0, 1);
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    animation-direction: alternate;
}

nav, footer {
    font-size: .8em;
}

.bio {
    padding-top: 5%;
    padding-bottom: 5%;
}

.copy {
    padding: 1%;
}

h1 {
    color: rgb(171, 237, 254);
    font-size: 5em;
    font-family: 'DM Sans', sans-serif;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

h2, h3 {
    color: rgb(198, 225, 231);
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 5%;
    white-space: nowrap;
}

article p, footer p, hr {
    margin-top: 5%;
}

/* Columns */
.columns {float:left;}
.col-1 {width: 60%;}
.col-2 {width: 40%;}
.col-12 {width: 100%;}
/* End Columns CSS */

div.expContainer {
    font-size: .8em;
}

div.expContainer>h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    color: rgb(171, 237, 254);
    padding-bottom: 5%;
    overflow: auto;
}

div.expContainer>h3 {
    text-align: center;
    font-size: 1.2em;
    overflow: auto;
}

div.expContainer>p {
    width: 50%;
    padding-bottom: 5%;
}

.expRow {
    margin-bottom: 5%;
}

.Activities {
    padding-left: 5%;
}

.flexbox {
    clear: right;
    display: flex;
    justify-content: space-between;
}

.flexbox > div {
    width: 30%;
    background-color: rgba(0, 0, 0, .05);
    padding: 1%;
}

.backtint{
    background-color: rgba(0, 0, 0, .05);
    padding: 1%;
}

.textPad {
    font-size: .8em;
}

a:link {
    color: rgb(51, 102, 153); 
}

a:visited {
    color: rgb(19, 75, 124);
}

a:hover {
    color: rgb(0, 177, 204);
}

/* Media Queries */


@media only screen and (max-width: 651px) {

    h1{
        font-size: 2em;
    }
    h2, h3{
        font-size: 0.6em;
    }

    body {
        font-size: 1em;
    }

    ul li {
        font-size: .9em;
    }
    
    div.bio > p {
        font-size: .7em;
    }

    div.expContainer>p {
        width: 100%;
    }
    
    .columns {
        float: none;
        width: fit-content;
        font-size: 1em;
    }

    .flexbox {
        clear: right;
        display: flex;
        flex-direction: column;
    }

    .flexbox > div {
        width: 100%;
        padding: 3%;
        background-color: rgba(0, 0, 0, .05);
        font-size: .7em;
    }

    #instagram {
        visibility: hidden;
    }

}
