* {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1em;
    color: rgb(37, 48, 59);
    line-height: 1.5em;
    margin: 0;
    padding: auto;
}

body {
    background-color: #fafafa;
    background-image: url(/images/crow.jpeg);
    background-size: 60em;
    background-repeat:repeat;
}

header {
    text-align: center;
    padding: 2em;
}

#mainNav {
    list-style-type: none;
    font-size: 1em;
    text-align: center;
}

nav, footer {
    font-size: .8em;
    padding: 2em;
}

.copy {
    padding:2em;
}

h1 {
    color: rgb(171, 237, 254);
    font-size: 5em;
    font-family: 'DM Sans', sans-serif;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 2em;
    white-space: nowrap;
}

article p, footer p, hr {
    margin-top: 2em;
}

.bio {
    padding: 2em;
}

a:link {
    color: rgb(51, 102, 153); 
}

a:visited {
    color: rgb(19, 75, 124);
}

a:hover {
    color: rgb(0, 177, 204);
}
